* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffdf88;
    color: #FF006E;
    text-decoration: none;
    text-align: center;
}

#title {
    text-align: center;
    padding: 5%;
    padding-bottom: 3%;
    font-size: 200%;
    font-weight: 1000;
}

#description {
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 150%;
    font-weight: 800;
}

#image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5% 3% 5% 3%;
}

button {
    width: 10%;
}

button:hover {
    transform: scale(1.075);
    transition: 333ms;
}

button:not(:hover) {
    transition: 333ms;
}

.staticImage {
    width: 100%;
}

.gameResult, .resultItem {
    background: #FFFFFF;
}

.resultItem {
    margin-left: 5%;
    margin-right: 5%;
}

.gameResult {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 5%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    align-items: center;
    gap: 1rem;
    visibility: hidden;
}

h1 {
    font-size: 250%;
    font-weight: 1000;
    margin-top: 3%;
}

#textBox {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

#opponentImage {
    background-color: #FFFFFF;
    width: 50%;
    margin: 5%;
    margin-bottom: 0;
}

#closeBtn {
    margin-bottom: 3%;
    width: 50%;
    font-size: 115%;
    padding: 2%;
    background-color: #e6e6e6;
    border-radius: 25%;
}